<form [formGroup]="metaForm" novalidate>
    <!--params-->
    <div formArrayName="params">
        <div *ngFor="let param of metaForm.controls.params.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
                <span>Parameter {{i + 1}}</span>
                <i style="cursor: pointer" class="fa fa-times pull-right" *ngIf="metaForm.controls.params.controls.length > 1" (click)="removeParam(i)"></i>
            </div>
            <div class="panel-body" [formGroupName]="i">
                <!--description-->
                <div class="form-group col-xs-6">
                    <label>Name</label>
                    <input class="form-control" type="text" formControlName="description">
                    <!--display error message if street is not valid-->
                    <small [hidden]="metaForm.controls.params.controls[i].controls.description.valid" class="text-danger">
                        Name is required
                    </small>
                </div>
                <!--type-->
                <div class="form-group col-xs-6">
                    <label>Type</label>
                    <input class="form-control" type="text" formControlName="type">
                    <small [hidden]="metaForm.controls.params.controls[i].controls.type.valid" class="text-danger">
                        Type is required
                    </small>
                </div>
            </div>

            <div class="margin-20">
                <a style="cursor: pointer" (click)="addParam()">Add another parameter +</a>
            </div>

        </div>
        <div class="margin-20">
            <pre>form value: <br>{{metaForm.value | json}}</pre>
        </div>
    </div>
</form>
