<form [formGroup]="metaForm" novalidate>
    <!--params-->
    <div formArrayName="properties">
        <div *ngFor="let param of metaForm.controls.properties.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
                <span>Parameter {{i + 1}}</span>
                <i class="fa fa-times btn-close pull-right" *ngIf="metaForm.controls.properties.controls.length > 1" (click)="removeParam(i)"></i>
            </div>
            <div class="panel-body" [formGroupName]="i">
                <!--description-->
                <div class="form-group col-lg-6">
                    <label>Name</label>
                    <input class="form-control" type="text" formControlName="description">
                    <!--display error message if street is not valid-->
                    <small [hidden]="metaForm.controls.properties.controls[i].controls.description.valid" class="text-danger">
                        Name is required
                    </small>
                </div>
                <!--type-->
                <div class="form-group col-lg-6">
                    <label>Type</label>
                    <select class="form-control" formControlName="type">
                        <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
                    </select>
                    <small [hidden]="metaForm.controls.properties.controls[i].controls.type.valid" class="text-danger">
                        Type is required
                    </small>
                </div>
            </div>

            <div class="btn-add-param">
                <a (click)="addParam()">Add another parameter +</a>
            </div>

        </div>
        <div class="clearfix">
            <pre>{{metaForm.value | json}}</pre>
            <button class="btn btn-warning btn-xs btn-send pull-right" [disabled]="!metaForm.valid" (click)="sendJSON()">Send Json</button>
        </div>
    </div>
</form>
