<div class="form-container">
    <form class="form-horizontal" #itemForm="ngForm">
        <div [hidden]="empty">{{diagnostic}}</div>
        <!-- Item -->
        <div class="item-container">
            <div class="item">
                <div class="item-title col-sm-12">Trubka</div>

                <!-- Edit mode -->
                <div *ngIf="editMode">
                    <div *ngFor="let param of paramsList; let i=index">
                        <div class="item-action-btns clearfix">
                            <button class="fa fa-times btn-danger delete-btn" (click)="deleteParam(i)"></button>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Název</label>
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" [(ngModel)]="param.name" name="{{'name'+i}}" pattern="^[^-\s][a-zA-Z0-9_\s-]+$" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Typ</label>
                            <div class="col-sm-10">
                                <select class="form-control" required [(ngModel)]="param.type" name="{{'type'+i}}">
                                    <option *ngFor="let type of types" [value]="type">{{type}}</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <!--Preview mode-->
                <div *ngIf="!editMode">
                    <div *ngFor="let param of paramsList; let i=index">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{param.name}}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="item-btn clearfix">
                    <div class="item-param-add-btn" *ngIf="editMode">
                        <button class="btn btn-primary btn-sm" (click)="addParam()">Přidat parameter</button>
                    </div>

                    <div class="item-edit-btn" *ngIf="!empty && !editMode">
                        <button class="btn btn-success btn-sm" (click)="switchToPreview()">Uložit</button>
                        <button class="btn btn-warning btn-sm" (click)="switchToEdit()">Editovat</button>
                    </div>

                    <div class="item-edit-btn" *ngIf="!empty && editMode">
                        <button class="btn btn-warning btn-sm" [disabled]="!itemForm.form.valid" (click)="switchToPreview()">Náhled</button>
                    </div>

                    <!--<div class="item-form-param-reset-btn" [hidden]="empty">-->
                    <!--<button class="btn btn-danger btn-sm" (click)="clearForm()">Resetovat formulář</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </form>
</div>