<!-- Item -->
    <div class="item-container">
        <div class="item">
            <div class="item-header">
                <span class="item-title">Trubka</span>
                <i class="fa" [ngClass]="isOpened ? 'fa-arrow-up' : 'fa-arrow-down'" (click)="toogleMetaForm()"></i>
            </div>


            <!-- Edit mode -->
            <div *ngIf="isOpened">
                <meta-form></meta-form>
            </div>

            <!--Preview mode-->
            <div>
                <save-form></save-form>
            </div>

        </div>
    </div>
