<!-- Item -->
    <div class="item-container">
        <div class="item">
            <div class="item-title">Trubka</div>

            <!-- Edit mode -->
            <div *ngIf="editMode">
                <meta-form></meta-form>
            </div>

            <!--Preview mode-->
            <div *ngIf="!editMode">
                <save-form></save-form>
            </div>

            <div class="item-btn clearfix">
                <div class="item-edit-btn" *ngIf="!empty && !editMode">
                    <button class="btn btn-warning btn-sm" (click)="switchToEdit()">Editovat</button>
                </div>

                <div class="item-edit-btn" *ngIf="!empty && editMode">
                    <button class="btn btn-warning btn-sm" (click)="switchToPreview()">Náhled</button>
                </div>
            </div>
        </div>
    </div>
